.base {
    z-index: 2000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 0 25px 25px 0;
}

.base_logout {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.base_act {
    background-color: white;
}

.normal {
    height: 30px;
    width: 150px;
    margin-right: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.normal_logout {
    cursor: pointer;
}

.normal_act {
    color: #84b6a3;
}

.link {
    text-decoration: none;
}