.parDiv{
    background: white;
<<<<<<< HEAD
    width: 325px;
=======
    height: 600px;
    width: 100%;
>>>>>>> main
}

.searchInput {
    border: #669885 1px solid;
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
    width: 200px;
}

.blockMap {
    background-color: #669885;
    border-radius: 15px 0 0 0;
    height: 93%;
}
