.normal {
    width: 150px;
    height: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: none;
    background-color: unset;
    font-size: 17px;
    color: white;
}