footer {
    background-color: #669885;
}

.heightLinks a {
    text-decoration: none;
}

.heightFooter {
    min-height: 190px;
}

.justifyContent {
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    padding-top: 50px;
}

.footerLogo {
    width: 200px;
}

.widthSocial {
    width: 222px;
}

.colorWhite {
    color: #ffffff;
}

.colorWhite:hover{
    cursor: pointer;
}

.smallerText{
    font-size: 12px;
}

.widthLinks {
    min-width: 210px;
}
.heightLinks {
    height: 80px;
}

.imgSize {
    width: 16px;
    height: 16px;
}


.imgFb{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(102%) contrast(102%);
}

.imgInst{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(102%) contrast(102%);
    width: 24px;
}












