.start_two {
    height: 260px;
    background-color: #669885;

}

.start_two p {
    padding-top: 75px;
    font-size: 36px;
    /*width: 55%;*/
    color: #ffffff;

}

.pDiv{
    margin: auto;
    width: 800px;

}