.mainGreenBack {
    background-color: #669885;
    box-shadow: 0 5px 5px dimgrey inset;
    width: 325px;
    height: 547px;
}

.nothing{
    background-color: #669885;
    box-shadow: 0 5px 5px dimgrey inset;
    height: 617px;
    width: 325px;
}

.parDiv{
    height: 547px;
    width: 325px;
}

.blockMap {
    background-color: #669885;
    border-radius: 15px 0 0 0;
    height: 93%;
}

.searchInput {
    border: #669885 1px solid;
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
    width: 200px;
}

.dental_care{
    width: 160px;
}

.pet_hotel{
    width: 160px;
}

.pet_hotel_2{
    width: 160px;
}

